/**
  * Stylesheet for basic template.
  *
  * Auther: Seth Darbyshire
  */

#container {
  text-align: center;

}

#mainDisplay {
  /*border: 1px solid black;*/
  border-radius:25px;
  box-shadow: 10px 10px 5px #888888;

  margin-left:auto;
  margin-right:auto;
  margin-bottom: 1em;
  text-align: center;
  float: none; /* Bootstrap spans float left by default */  

  background-color: #ffcf73;
  /*background-color: #ffbd40;*/
}

#mainHeader {

}

#mainHeader #nameInlay {
  position: absolute;
  /*display: inline;*/

  margin-left: 0.5em;
  text-align: right;
  color: white;
}

#mainHeader #nameInlay h2 {
  padding: 0.5em 1em;
  font-size: 3em;
  border-radius:25px;
  background-color: #a66c00;

  opacity:0.9;
  filter:alpha(opacity=90); /* For IE8 and earlier */
}

#mainHeader #headerImageCarosel {
  
}

#mainHeader #headerImageCarosel img {
  border-radius: 25px 25px 0px 0px;
  width:100%;
}

#sideMenu {
  margin-bottom: 1em;
}

#sideMenu ul#navBar {
/*  border: 1px solid black;
*/}

#sideMenu ul#navBar li.navBarItem {
  
}

#sideMenu ul#navBar li.navBarItem a {
  /*background-image: url('../img/wood_panel_button.jpg');*/
  /*background-color: #A66D00;*/

  background: -moz-linear-gradient(
    top,
    #a66c00 0%,
    #FFA700 50%,
    #a66c00);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#a66c00),
    color-stop(0.50, #FFA700),
    to(#a66c00));

  font-size: 3em;
  text-align: center;
  vertical-align: middle;
  color: white;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

#sideMenu ul#navBar li.navBarItem a:link, a:visited, a:active {
 text-decoration: none;
}

#sideMenu ul#navBar li.navBarItem a:hover {
  text-decoration: none;
  color: #ffcf73;
}

#bodyDisplay {
/*  border: 1px solid black; */
/*background-color: white;*/
}

#mainFooter {
  /*margin-top: 1em;*/
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
  font-size: 1.5em;
  /*border-radius: 0px 0px 25px 25px;*/

  color: black;
  /*background-color: #a66c00;*/

  margin-left:auto;
  margin-right:auto;
  margin-bottom: 1em;
  float: none; /* Bootstrap spans float left by default */  
}

#mainFooter #copyrightTag {
  
}

#mainFooter .footerColumn {
  font-size: 0.6em;
  border-left: 1px solid black;
  padding-left: 2em;
}

#mainFooter .footerColumn:nth-of-type(1) {
  padding-left: 0em;
  border-left: none;
}

#mainFooter ul#footerLinks {
  list-style-type: none;
}


/** Home Page styles */

#bodyDisplay article {
  margin-right: 1em;
  background-image: url('static/img/wood_panel_button.jpg');
}

#bodyDisplay article:nth-of-type(1) {
  margin-top: 1em;
}


/** Photos Page styles */

#myCarousel {
  margin-top: 1em;
  margin-right: 1em;
}
